@model PaginatedList<MvcTienda_Aaron.Models.Pedido>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-brown text-center">Mis Pedidos</h1>

<table class="table ">
    <thead>
        <tr>
            <th>
                Fecha
               @* @Html.DisplayNameFor(model => model.Fecha)*@
            </th>
            <th>
                Confirmado
               @* @Html.DisplayNameFor(model => model.Confirmado)*@
            </th>
            <th>
                Preparado
                @*@Html.DisplayNameFor(model => model.Preparado)*@
            </th>
            <th>
                Enviado
                @*@Html.DisplayNameFor(model => model.Enviado)*@
            </th>
            <th>
                Cobrado
                @*@Html.DisplayNameFor(model => model.Cobrado)*@
            </th>
            <th>
                Devuelto
              @*  @Html.DisplayNameFor(model => model.Devuelto)*@
            </th>
            <th>
                Anulado
                @*@Html.DisplayNameFor(model => model.Anulado)*@
            </th>
            <th>
                Cliente
               @* @Html.DisplayNameFor(model => model.Cliente)*@
            </th>
            <th>
                Estado
                @*@Html.DisplayNameFor(model => model.Estado)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Confirmado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preparado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enviado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cobrado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Devuelto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anulado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Descripcion)
                </td>
                <td>

                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>

                </td>
            </tr>
        }
    </tbody>
</table>

@* Poner botones de página Siguiente y Anterior *@
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-outline-brown @prevDisabled">
    Anterior
</a>
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-outline-brown @nextDisabled">
    Siguiente
</a>
